{{define "main"}}
    <h1>{{.Title}}</h1>
    {{.Content}}
    {{partial "search" .}}
    {{$paginator := .Paginate .Site.RegularPages.ByDate.Reverse}}
    {{range $page := $paginator.Pages}}
        <a class="card" href="{{.RelPermalink}}">
            {{partial "thumbnail" (dict "context" . "size" "400x200")}}
            <h2>{{.Title}}</h2>
            <small>
                {{.Date.Format "02. Jan, 2006"}}
                {{if .Summary}}
                    - {{.Summary}}
                {{end}}
            </small>
        </a>
    {{end}}
    {{partial "pagination" $paginator}}
{{end}}
